@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(11, 208, 24);
}
.card{
    display: inline-block;
    margin: auto;
    height:400px;
    width: 250px;
    padding: 20px;
    border:1px solid black;
    border-radius: 5px;
    position: relative;
    }
   .top-suite{ 
    position:absolute;
    top: 0;
    left: 0;
}
